<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>order</title>

</head>

<body>
    <div class="container">


        <div class="card mb-4 box-shadow" style="width: 350px;">
            <img class="card-img-top" src="{{ orderItem.image }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Order here</h5>
                <p class="card-text">Name: {{ orderItem.cust_name }}</p>
                <p class="card-text">Total items: {{ orderItem.no_of_items }}</p>
                <p class="card-text">Total cost: {{ orderItem.no_of_items * orderItem.price }}</p>

                <button class="btn btn-primary" *ngIf="order_received_flag" (click)="preparing(orderItem)"> Order
                    Received
                </button>
                <button class="btn btn-warning" *ngIf="order_preparing_flag" (click)="ready(orderItem)"> Preparing
                </button>
                <button class="btn btn-success" *ngIf="order_ready_flag"> Ready to serve </button>
                <button class="btn btn-info" (click)="openDialog(orderItem)"> details </button>
            </div>
        </div>


    </div>
</body>

</html>